header {
  text-align: center;
  font-size: 30px;
}

.buttons{
	text-align: center;
}

#prevBTN{
	justify-content: center;
	text-align: center;
	position: center;
	align-self: center;
	border-radius: 10px;
	font-size: 15px;
}

#nextBTN{
	justify-content: center;
	text-align: center;
	position: center;
	align-self: center;
	border-radius: 10px;
	font-size: 15px;
}